{% extends "base.html" %}
{% block content %}

    <section id="intro" class="flex flex-row flex-wrap content-center snap-start w-full h-screen md:text-7xl md:max-w-5xl mx-auto px-4 md:px-6 text-gray-800 leading-normal">
            <h1 class="break-normal text-gray-900 pt-6 pb-2">Hi</h1>
            <h1 class="break-normal text-gray-900 pt-6 pb-2">, I am&nbsp;</h1>
            <h1 class="break-normal text-gray-900 pt-6 pb-2">Auguste</h1>
    </section>


    <section id="about" class="flex flex-wrap content-center snap-start w-full h-screen bg-gray-470 md:max-w-5xl mx-auto px-4 md:px-6 text-xl text-gray-800 leading-normal">

        <div class="">
                <h1 class="font-spacemono break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
                    I am looking for the next step in my career...<br> This is what I have been up to now.</h1>
        </div>

    </section>

{#    <section id="experience" class="gap-x-2 flex flex-wrap flex-row justify-center snap-start w-full h-screen#}
{#     bg-gray-470 md:max-w-5xl mx-auto px-4 md:px-6 text-xl text-gray-800 leading-normal py-10">#}
{#        <div class="flex-grow">#}
{#                <h1 class="break-normal text-gray-900 pt-6 pb-2 text-3xl">Experience </h1>#}
{#                <p class="text-sm md:text-base font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus#}
{#                            commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.</p>#}
{#        </div>#}
{#        <div class="flex-grow">#}
{#                <h1 class="break-normal text-gray-900 pt-6 pb-2 text-3xl ">Experience </h1>#}
{#                <p class="text-sm md:text-base font-normal text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus#}
{#                            commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.</p>#}
{#        </div>#}
{#        <div class="flex-grow">#}
{#                <h1 class="break-normal text-gray-900 pt-6 pb-2 text-3xl">Experience </h1>#}
{#                <p class="text-sm md:text-base font-normal text-gray-600 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus#}
{#                            commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.</p>#}
{#        </div>#}
{#    </section>#}

    <section id="experience" class="flex flex-wrap content-center snap-start w-full h-screen bg-gray-470 md:max-w-5xl mx-auto px-4 md:px-6 text-xl text-gray-800 leading-normal">
        <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-3">

{#            <div class="p-3">#}
{#                <div class="m-2 text-justify text-lg">#}
{#                    <p class="text-sm">2020 May - 2021 May</p>#}
{#                    <h2 class="font-bold text-3xl h-2 mb-8">Job Title</h2>#}
{##}
{#                    <ul class="text-base list-disc">#}
{#                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>#}
{#                        <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</li>#}
{#                        <li>ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat </li>#}
{#                        <li>nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>#}
{#                    </ul>#}
{##}
{#                </div>#}
{#            </div>#}
                        <div class="p-3">
                <div class="m-2 text-justify text-sm">
                    <p class="text-xs">2020 May - 2021 May</p>
                    <h2 class="font-bold text-3xl h-2 mb-8">Job Title</h2>
                    <p class="text-sm">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>

            <div class="p-3">
                <div class="m-2 text-justify text-sm">
                    <p class="text-xs">2020 May - 2021 May</p>
                    <h2 class="font-bold text-3xl h-2 mb-8">Job Title</h2>
                    <p class="text-sm">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>

            <div class="p-3">
                <div class="m-2 text-justify text-sm">
                    <p class="text-xs">2020 May - 2021 May</p>
                    <h2 class="font-bold text-3xl h-2 mb-8">Job Title</h2>
                    <p class="text-sm">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>




        </div>
    </section>

    <section id="skills" class="flex flex-wrap content-center snap-start w-full h-screen bg-gray-470 md:max-w-5xl mx-auto px-4 md:px-6 text-xl text-gray-800 leading-normal">
        <div class="font-spacemono">
                <h1 class="font-spacemono break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Welcome to Minimal Blog</h1>
                <p class="text-sm md:text-base font-normal text-gray-600">Published 19 February 2019</p>
        </div>
    </section>


{% endblock %}