<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Auguste Tomaseviciute</title>
    <meta name="author" content="Auguste Tomaseviciute" />
    <meta name="description" content="Welcome to my website where I showcase my work!" />
    <meta name="keywords" content="cs, graduate, computer science, nlp, student" />
    <link
      href="{{ url_for('static',filename='dist/tailwind.css')}}"
      rel="stylesheet"
    />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap" rel="stylesheet">
  </head>

  
<body class="bg-white font-spacemono leading-normal tracking-normal">



	<!--Container-->
	<div class="container w-full md:max-w-5xl mx-auto pt-20 ">

		<div class="max-h-screen overflow-y-scroll snap snap-y snap-mandatory px-4 md:px-6 text-xl text-gray-800 leading-normal">

            <section id="intro" class="snap-start w-full h-screen bg-gray-400">
                <div class="font-spacemono">
						<h1 class="font-spacemono break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Hi</h1>
			    </div>
            </section>


            <section id="experience" class="snap-start w-full h-screen bg-gray-470 ">
                <div class="font-spacemono">
						<h1 class="font-spacemono break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Welcome to Minimal Blog</h1>
						<p class="text-sm md:text-base font-normal text-gray-600">Published 19 February 2019</p>
			    </div>
            </section>

		</div>

	</div>
	<!--/container-->





</body>

</html>
